//About
.section-box{
    // position: fixed;
    &__headline{
        display: flex;
        background-color:red;
        justify-content: center;
        align-items: flex-start;
    }
}
.grid{
    // position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    // min-height: 100vh;
    height: 310px;
    width: 900px;
    border: 2px solid $color-base;

    
}
